body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1000px;
    height: 1000px;
}
/* Galeri bölümü */
.gallery-section {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}

/* ul ve li */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 0;
    list-style: none;
}

.gallery-item {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

/* resimler */
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    border-radius: 10px;
}